@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

@keyframes fallAnimation {
    0%{
      opacity: 1;
    } 
    80%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
}

@keyframes IntroDescAnimation {
    0%{
      opacity: 0;
    }
    90%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}

body{
  margin: 0;
  padding: 0;
  background: rgb(27, 27, 27);
}

.block-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fallback-loader{
  width: fit-content;
  height: fit-content;
  padding: 10px;
  color: white;
  letter-spacing: 0.09em;
  font-size: 2.4em;
  font-family: 'Ephesis', cursive;
  position: relative;
  top: 19vh;
  animation: fallAnimation 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.all-notes-icons{
  cursor: pointer;
  transition: filter 0.4s;
}

.all-notes-icons:hover{
  filter: brightness(70%);
}

.not-equal-passwds{
  background: rgba(200,0,0,.3);
}

@media screen and (min-width: 320px) {
  .fallback-loader{
    font-size: 3.1em;
  }
}

@media screen and (min-width: 425px) {
  .fallback-loader{
    font-size: 4.5em;
  }
}

@media screen and (min-width: 768px) {
  .fallback-loader{
    font-size: 5.9em;
  }
}

@media screen and (min-width: 1024px) {
  .fallback-loader{
    font-size: 6.9em;
  }
}